body {
    font-family: Arial, sans-serif;
    font-size: $standard-fontsize;
    line-height: $standard-lineheight;
    color: $c-dark-grey;
}

a {
    text-decoration: none;
    color: $c-dark-grey;
}
